fastapi
uvicorn[standard] # Includes websockets and other goodies, 'standard' is good
python-dotenv
groq
paho-mqtt
SpeechRecognition # Might still be useful for format validation or other audio tasks
# Add any other specific dependencies like 'requests' if groq client uses it internally
python-multipart


# 6c8dacb8-bbfc-4d26-b7b0-3f56c81b9cfd.cfargotunnel.com

# b13811bc-0a23-48d0-9233-24e799decc9c.cfargotunnel.com

# 693638ef-4bb4-444f-b176-d768633a66d8.cfargotunnel.com